@import url("https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext");
/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Source Sans Pro", sans-serif;
  color: #444;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

.section-title span {
  text-transform: none;
  font-weight: 400;
  color: #777777;
}

/* Layout */
.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
}

.sidebar, .posts {
  background: #fff;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid #444;
  border-radius: 5px;
}

/* Logo */
.logo {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list a {
  padding-right: 5px;
  word-wrap: normal;
}

.list .active {
  font-weight: bold;
}

.list-horizontal li {
  display: inline-block;
}

.tag-size-
.tag-size-5 {
  display: inline-block;
  font-size: 150%;
}

.tag-size-4 {
  display: inline-block;
  font-size: 140%;
}

.tag-size-3 {
  display: inline-block;
  font-size: 130%;
}

.tag-size-2 {
  display: inline-block;
  font-size: 120%;
}

.tag-size-1 {
  display: inline-block;
  font-size: 100%;
}

/* Authors */
.authors li {
  margin-bottom: 12px;
}

/* Post */
.post {
  display: none;
}

.post.active {
  display: block;
}

.post-author {
  font-style: italic;
}

.post-author .active {
  font-weight: bold;
}

.post-tags {
  display: flex;
}

.post-tags p {
  margin: 0 10px 0 0;
}

.post-tags li {
  padding-right: 5px;
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxxSEFBWTtBQUVaLGNBQUE7QUFTQSxXQUFBO0FBRUE7RUFDRSxzQkFBc0I7QUNUeEI7O0FEWUE7RUFDRSxnQkFkZ0I7RUFlaEIsMENBVnVDO0VBV3ZDLFdBZmU7RUFnQmYsZ0JBQWdCO0VBQ2hCLGVBQWU7RUFDZixnQkFBZ0I7QUNUbEI7O0FEWUE7RUFDRSxpQkFBaUI7RUFDakIsY0FBYztBQ1RoQjs7QURZQTtFQUNFLGVBQWU7RUFDZix5QkFBeUI7RUFDekIsaUNBMUJnQztFQTJCaEMsZ0JBQWdCO0FDVGxCOztBREtBO0VBT0ksb0JBQW9CO0VBQ3BCLGdCQUFnQjtFQUNoQixjQUFnQztBQ1JwQzs7QURZQSxXQUFBO0FBRUE7RUFDRSxhQUFhO0VBQ2IsaUJBQWlCO0FDVm5COztBRGFBO0VBQ0UsV0FBVztBQ1ZiOztBRGFBO0VBQ0UsV0FBVztBQ1ZiOztBRGFBO0VBQ0UsZ0JBeERnQjtFQXlEaEIsa0JBQWtCO0VBQ2xCLGFBQWE7RUFDYixzQkExRGU7RUEyRGYsa0JBQWtCO0FDVnBCOztBRGFBLFNBQUE7QUFFQTtFQUNFLGtDQS9EK0I7RUFnRS9CLGdCQUFnQjtFQUNoQixnQkFBZ0I7RUFDaEIsY0FBYztFQUNkLGtCQUFrQjtBQ1hwQjs7QURjQSxVQUFBO0FBRUE7RUFDRSxxQkFBcUI7RUFDckIsU0FBUztFQUNULFVBQVU7QUNaWjs7QURTQTtFQUtJLGtCQUFrQjtFQUNsQixpQkFBaUI7QUNWckI7O0FESUE7RUFVSSxpQkFBaUI7QUNWckI7O0FEY0E7RUFFSSxxQkFBcUI7QUNaekI7O0FEZ0JBOztFQUdFLHFCQUFxQjtFQUNyQixlQUFlO0FDZGpCOztBRGlCQTtFQUNFLHFCQUFxQjtFQUNyQixlQUFlO0FDZGpCOztBRGlCQTtFQUNFLHFCQUFxQjtFQUNyQixlQUFlO0FDZGpCOztBRGlCQTtFQUNFLHFCQUFxQjtFQUNyQixlQUFlO0FDZGpCOztBRGlCQTtFQUNFLHFCQUFxQjtFQUNyQixlQUFlO0FDZGpCOztBRGdCQSxZQUFBO0FBRUE7RUFFSSxtQkFBbUI7QUNmdkI7O0FEbUJBLFNBQUE7QUFFQTtFQUNFLGFBQWE7QUNqQmY7O0FEZ0JBO0VBSUksY0FBYztBQ2hCbEI7O0FEb0JBO0VBQ0Usa0JBQWtCO0FDakJwQjs7QURnQkE7RUFHSSxpQkFBaUI7QUNmckI7O0FEbUJBO0VBQ0UsYUFBYTtBQ2hCZjs7QURlQTtFQUlJLGtCQUFrQjtBQ2Z0Qjs7QURXQTtFQVFJLGtCQUFrQjtBQ2Z0QiIsImZpbGUiOiJzdHlsZS5jc3MifQ== */